ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
  padding-top: 16px;
  -webkit-padding-start: 0;
  margin-left: 0;
}

.scroll {
  height: 62vh;
  overflow-y: scroll;
}

li {
  text-align: left;
  padding-bottom: 0.75rem;
  border: 1px solid darkgray;
}

li:focus {
  outline: solid 1px lightblue;
}
