ul {
  list-style: none;
  list-style-type: none;
  margin: 1rem;
}

.scroll {
  height: 62vh;
  overflow-y: scroll;
}

li {
  padding: 1rem 1rem;
  border: 1px solid darkgray;
  margin-right: 1rem;
  width: 16rem;
}

ul li {
  padding-left: 0.5rem;
}

li:hover {
  box-shadow: 0 0 2px 2px skyblue;
}
