html{
  font-size: 16px;
}

h5 {
  font-weight: bold;
  margin-top: 1rem;
}

.main_layout {
  display: flex;
  padding: 0rem;
  height: 87vh;
}

.search_area {
  width: 70%;
}

.instructions {
  margin: 1rem auto;
  width: 70%;
}

.search_box {
  margin: 0 auto;
  width: 50%;
}

.search_box input {
  width: 100%;
}

.search_results {
  margin: 0 auto;
  width: 40%;
}

.sidebar {
  width: 30%;
  background-color: #EBEBEB;
  padding: 2rem 1rem;
}